article {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 36px;
    font-family: "EB Garamond", Georgia, serif;
    font-size: 1.4em;
}

main.post-main {
    display: flex;
    justify-content: center;
}

.theorem, .definition {
    display: block;
    font-style: italic;
}

.theorem:before, {
    content: "Theorem. ";
    font-weight: bold;
    font-style: normal;
}

.theorem[text]:before {
    content: "Theorem (" attr(text) ") ";
}

.definition:before, {
    content: "Definition. ";
    font-weight: bold;
    font-style: normal;
}

.definition[text]:before, .definition[text]:before {
    content: "Theorem (" attr(text) ") ";
}
