article {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 36px;
    width: 850px;
    font-size: 1.2rem;
}

main.post-main {
    display: flex;
    justify-content: center;
}

main.post-main article h1 {
    color: black;
    font-family: "EB Garamond", Georgia, serif;
    font-size: 2.5rem;
    font-weight: normal;
}

.theorem {
    display: block;
    font-style: italic;
    padding: 30px;
}

.theorem:before {
    content: "Theorem. ";
    font-weight: bold;
    font-style: normal;
}

.theorem[text]:before {
    content: "Theorem (" attr(text) "). ";
}

.proposition {
    display: block;
    font-style: italic;
    padding: 30px;
}

.proposition:before {
    content: "Proposition. ";
    font-weight: bold;
    font-style: normal;
}

.proposition[text]:before {
    content: "Proposition (" attr(text) "). ";
}

.lemma {
    display: block;
    font-style: italic;
    padding: 30px;
}

.lemma:before {
    content: "Lemma. ";
    font-weight: bold;
    font-style: normal;
}

.lemma[text]:before {
    content: "Lemma (" attr(text) "). ";
}

.definition {
    display: block;
}

.definition:before {
    content: "Definition. ";
    font-weight: bold;
    font-style: normal;
}

.definition[text]:before {
    content: "Definition (" attr(text) "). ";
}

.utterances {
    max-width : 850px;
}
