body {
    margin: 0px;
}

.container {
    padding: 0px;
    margin: auto;
    max-width: 1200px;
}

header.page-header > h1 {
    font-size: 4em;
}

.page-header {
    display: flex;
    justify-content: center;
    font-family: "EB Garamond", Georgia, serif;
}

.nav-wrapper {
    display: flex;
    padding: 5px;
}

hr {
    color: LightGray;
    margin: 1px;
}

.nav-wrapper >  div {
    margin: 10px;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.3s;
}

.nav-link-wrapper a {
    color: black;
    text-decoration: none;
    font-size: 1.3em;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    color: black;
}

main.index-main {
    font-family: "EB Garamond", Georgia, serif;
    font-size: 1.4em;
    float: left;
    width: 70%;
}

aside.index-aside {
    font-family: "EB Garamond", Georgia, serif;
    font-size: 1.4em;
    float: right;
    width: 25%;
}

footer {
    font-family: "EB Garamond", Georgia, serif;
    display: inline-block;
    width: 100%;
}
