<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FreshBlog | Home</title>
        <link rel="stylesheet" href="../css/styles.css">
        <link rel="stylesheet" href="../css/post_styles.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">
        <script>
            window.MathJax = {
                loader: {load: ['[tex]/mathtools']},
                tex: {
                    macros: {
                        isoto: "{\\stackrel{\\sim}{\\smash{\\longrightarrow}\\rule{0pt}{0.4ex}}}"
                    },

                    tags: 'ams',
                    packages: {'[+]': ['mathtools']}
                }
            };

        </script>
        <script id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
        </script>
        <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
    </head>

    <body>
        \(
            \let\existstemp\exists
            \let\foralltemp\forall
            \renewcommand{\exists}{\mkern18mu\existstemp\mkern2mu}
            \renewcommand{\forall}{\mkern18mu\foralltemp\mkern2mu}
        \)
        <header class="page-header">
            <h1>FreshBlog</h1>
        </header>

        <div class="container">
            <hr>
            <nav class="nav-wrapper">
                <div class="nav-link-wrapper">
                    <a href="../index.html">Home</a>
                </div>
            </nav>
            <hr>

            <main class="post-main">
                <article>
                    <!-- Hook -->
                </article>
            </main>

            <hr>

            <script src="https://utteranc.es/client.js"
                    repo="fresh999/fresh999.github.io"
                    issue-term="url"
                    theme="icy-dark"
                    crossorigin="anonymous"
                    async>
            </script>

            <footer>
                <hr><hr>
                FreshBlog 2021
            </footer>
        </div>
    </body>
</html>
